/* reset */
*{margin:0;padding:0;}
a{text-decoration: none; color: inherit;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight:400;}
address,em,i{font-style: normal;}
strong,b{font-weight: 400;}
img{
    width:100%;
}

#cursor {
    position: absolute;
    z-index: 10000000000000;
    transform: translate(10%, 10%);
    background-image: url(../img/까이딴자이.png);
    background-size: contain;
    width: 80px;
    height: 80px;
    pointer-events: none;
  }

html{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
/* 스와이퍼 좌우버튼 */
.swiper-button-next:after{
    color: #fff;
}
.swiper-button-prev:after{
    color: #fff;
}