@media (min-width:769px){
    .mo{display: none;}
    .pc{
        position: fixed;
        left: 0;top:0;
        width: 100%;
        height: 95px;
        overflow: hidden;
        background: #005841;
        color: #fff;
        transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
        z-index: 1000;
    }
    .pc:hover{
        background: #005841;
        color:#fff;
        height: 370px;
    }

    .innerHeader {
        width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .innerHeader >nav >  ul {
        display: flex;
        height: 95px;
    }
    .innerHeader ul>li{
        display: flex;
        flex: 1;
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
    }
    .innerHeader ul>li>ul {
        position: absolute;
        left: 0;
        top: 95px;
        width: 100%;
        padding-bottom: 30px;
    }
    .innerHeader ul>li>ul>li{
        padding:10px 0;
        font-weight: 400px;
    }
    .Establishment>a{
        background: #fff;
        color: #005841;
        padding:5px 15px;
        border-radius: 10px 10px 10px 10px;
    }
    .pc:hover .Establishment>a {
        background: #005841;
        color: #fff;
        padding:5px 15px;
        border-radius: 10px 10px 10px 10px;
        border: 1px solid #fff;
    }
    .pc nav{
        width:840px;
    }
    .headerLogo {
        width: 160px;
        align-items: center;
        display: flex;
    }
    .headerLogo a img{
        width: 160px;
    }

    /* main */
    .main{
        margin-top:95px;
    }
    .station1{
        width: 100%;
        height: 874px;
    }
    .station1>.train{
        padding: 0;
    }
    .station1>.train>li{
        width: 100%;
        height: 100%;
        position:relative;
    }
    .station1>.train>li img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.8);
    }
    .s1_slideTxt{
        position: absolute; 
        width: 50%;
        left: 10%;
        top: 20%;
        color: #fff;
        padding: 10px;
    }
    .s1_slideTxt p{    
        font-size: 3.6rem;
        font-weight: bold;
    }
    .s1_slideTxt h2{
        font-size: 5rem;
        font-weight: bold;
    }
    .s1_slideTxt{
        opacity: 1;
        transform: translateY(0px);
    }
    .station1 .swiper-pagination-bullet{
        width: 20px;
        height: 20px;
    }
    .station1 .swiper-pagination-bullet-active {    
        background: #005841;
    }
    .station2{
        width: 100%;
        height: 874px;
    }
    .station2>.train>li{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .station2>.train>li img{
        width: 500px;
    }
    .s2_slideTxt h2 {
        font-size: 70px;
        font-weight: bold;
    }
    .s2_slideTxt p {
        font-size: 30px;
        padding-top: 25px;
        padding-bottom: 60px;
    }
    .station2>.train>.swiper-slide a{
        background: #005841;
        color: #fff;
        padding: 15px 30px;
        font-size: 1.2rem;
    }
    .station2 .swiper-pagination-bullet{
        width: 20px;
        height: 15px;
        border-radius: 0;
        padding:0 5px;
    }
    .station2 .swiper-pagination-bullet-active {    
        background: #889081;
    }
    main .category{
        display: flex;
        width: 100%;
        height: 874px;
        position: relative;
        flex-wrap: wrap;
    }
    .category_left{
        width: 50%;
        position: relative;
        height: 100%;
    }
    .bg_area{
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .bg_area>ul>li img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }
    .bg_area>ul>li.on img{
        display: block;
    }
    .maintabMenu h2 {
        font-size: 8rem;
        font-weight: bold;
        padding-bottom: 10px;
        padding-left: 90px;
        padding-top: 40px;
        color: #fff;
        position: absolute;
        z-index: 2;
    }
    .maintab{
        font-size: 1.6rem;
        color: #fff;
        z-index: 3;
        position: absolute;
        left: 98px;
        top: 205px;
        font-weight: bold;
    }
    .maincontent{
        padding-top: 90px;
        width: 50%;
        background: #ededed;
        position: relative;
    }
    .maincontent .swiper{
        transform:translateX(-160px);
        width:1000px;
        height:500px;
    }
    .maincontent .items {
        width: 100%;
        position: absolute;
        left: 0;
        top: 69PX;
        height: 100%;
        transition: all 0.5s ease 0s;
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .maincontent .items.on {
        opacity: 1;
        pointer-events: auto;
    }
    .maincontent .items ul{
        display: flex;
        align-items: center;
    }
    .maincontent .items ul>li {
        display: flex;
        align-items: center;
    }
    .maincontent .items>h3 {
        font-size: 5rem;
        font-weight: bold;
        padding-left: 90px;
        color: #005841;
    }
    .maincontent .items>p{
        padding-left: 90px;
        padding-top: 15px;
        color: #005841;
        font-size: 1.2rem;
    }
    .maincontent .items h4{
        font-size: 1.2rem;
        border-bottom:1px solid #005841;
    
    }
    .maincontent .maincontent_list{
        overflow: hidden;
        transform: translateX(-26%);
    }
    .menu_img{
        cursor: pointer;
    }
    .menu_img>li{
        width: 100%;
        text-align: center;
    }
    .menu_img>li img{
        width: 100%;
        height: 300px;
        object-fit: contain;  
    }
    .swiper li{
        transition:all 0.5s ease 0s;
    }
    .maincontent > div .swiper-wrapper li.swiper-slide-active{
        transform:scale(1.6);
    }
    .topping_img>li.on{
        display:block;
    }
    .topping_img>li{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .topping_img>li img {
        width: 50px;
        height: 50px;
        padding-right: 10px;
        margin-top: 10px;
    }
    .topping{
        width: 80%;
        margin: 0 auto;
        margin-top: 40px;
    }
    .News{
        width: 100%;
        height: 874px;
        display: flex;
        color: #005841;
        border-top:1px solid rgba(111, 112, 112, 0.3);
    }
    .News_L{
        border-right:1px solid rgba(111, 112, 112, 0.3);
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        transition: all 0.5s ease 0s;
    }
    .News_L>li>h2{
        transform: translate(10%, 9%);
        font-size: 7rem;
        font-weight: bold;
    }
    @keyframes rotate {
        from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        }
        to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        }
    }
    .News_L>.textwrap img{
        animation: rotate 10s linear 0s infinite;
        opacity: 0.1;
    }
    .News_R{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .News_R>li{
        border-bottom:1px solid rgba(111, 112, 112, 0.3);
        height: 100%;
        position: relative;
    }
    .News_R>li p{
        font-size: 1.5em;
        position: absolute;
        left: 50px;
        top: 33%;
        color: #889081;
        font-weight: bold;
    }
    .News_R>li h4{
        font-size:1.5rem;
        position: absolute;
        left: 50px;
        top: 50%;
    }
    .News_R>li img{
        display: none;
    }
    .News_R>li:hover img{
        display:block;
        width: 200px;
        height: 200px;
        position:absolute;
        right:130px;
        top:50px;
    }

    .News{
        position: relative;
    }
    .News .arrow{
        display: flex;
    }
    .News .arrow>li:nth-of-type(1)::after{
        position: absolute;
        right: 50px;
        top: 115px;
        content: '';
        width: 50px;
        height: 50px;
        border-top: 10px solid #005841;
        border-right: 10px solid #005841;
        transform: rotate(45deg);
    }
    .News .arrow>li:nth-of-type(2)::after{
        position: absolute;
        right: 50px;
        top: 406px;
        content: '';
        width: 50px;
        height: 50px;
        border-top: 10px solid #005841;
        border-right:10px solid #005841;
        transform: rotate(45deg);
    }
    .News .arrow>li:nth-of-type(3)::after{
        position: absolute;
        right: 50px;
        top: 706px;
        content: '';
        width: 50px;
        height: 50px;
        border-top: 10px solid #005841;
        border-right: 10px solid #005841;
        transform: rotate(45deg);
    }
    .slide{
        width: 100%;
        height: 874px;
        display: flex;
        position: relative;
    }
    .slide .slide_L{
        width: 70%;
        background: #005841;
        color:#fff;
        transition: all 0.7s ease 0s;
        overflow: hidden;
    }
    .slide_L>ul>li{
        text-align: center;
    }
    .slide_L>ul>li.on{
        display: block;
    }
    .slide .slide_L>ul>li p {
        font-size: 2rem;
        font-weight: bold;
        padding-top: 155px;
    }
    .slide_L>ul>li h2{
        font-size: 4rem;
        font-weight: bold;
    }
    .slideL_list{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        justify-content: center;
    }
    .slideL_list>li{
        width: 334px;
    }
    .slideL_list>li img{
        background: #fff;
        border-radius: 50%;
        width: 200px;
    }
    .slide_R{
        width:30%;
        color: #005841;
        transition: all 0.7s ease 0s;
    }
    .slide_L .train{
        width:600%;
        height:100%;
        display:flex;
        transition:all 0.5s ease 0s;
    }
    .slide_L .train>li {
        width: calc(100%/6);
        height:100%;
    }
    .slide_R{overflow: hidden;}
    .slide_R>.train{
        width:600%;
        height: 100%;
        transition:all 0.5s ease 0s;
        display:flex;
    }
    .slide_R>.train>li {
        width: calc(100%/6);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 60px;
        box-sizing: border-box;
    }
    .slide_R li h3{
        font-size: 2rem;
    }
    .slide_R li p>span{
        font-size: 2.3rem;
        font-weight: bold;
    }
    .slide_R li p{
        font-size: 2rem;
    }
    .slide .controler{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 99%;
        display: flex;
        justify-content: space-between;
    }
    .slide .controler .btnNext{
        position: absolute;
        right: 50px;
        top: -21px;
        content: '';
        width: 30px;
        height: 30px;
        border-top: 10px solid #000;
        border-right: 10px solid #000;
        transform: rotate(45deg);
        border-radius: 15%;
    }
    .slide .controler .btnPrev{
        position: absolute;
        left: 50px;
        top: -21px;
        content: '';
        width: 30px;
        height: 30px;
        border-top: 10px solid #000;
        border-right: 10px solid #000;
        transform: rotate(225deg);
        border-radius: 15%;
    }
    .video{
        height: 874px;
    }
    .video>h2{
        padding-top: 110px;
        margin-bottom: 100px;
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        color: #005841;
    }
    .video>ul{
        display: flex;
        justify-content: center;
    }
    .video>ul>li {
        padding-right: 90px;
        border-radius: 50%;
    }
    .video .youtube_link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 103px;
    }
    .youtube_link>li a{
        font-size:0.9rem;
    }
    .youtube_link>li a>p{
        border-radius: 50%;
        color: #fff;
        background: #005841;
        border: 10px solid #005841;
    }
    .video .textwrap{
        width: 100%;
        font-size:3rem;
        font-weight: bold;
        color: #005841;
        overflow: hidden;
    }
    .video .textwrap>ul{
        display: flex;
        width: 200%;
        overflow: hidden;
        border:1px solid #005841;
    }
    .video .textwrap>ul>li{
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
    }
    @keyframes move1 {
        0%{transform: translateX(100%);}
        100%{transform: translateX(-100%);}
    }
    @keyframes move2 {
        0%{transform: translateX(0%);}
        100%{transform: translateX(-200%);} 
    }
    .video .textwrap>ul>.a{
        animation:move1 20s linear -10s infinite;
    }
    .video .textwrap>ul>.b{
        animation:move2 20s linear 0s infinite;
    }
    .sns{
        width: 100%;
        height: 874px;
        background: #005841;
        color: #fff;
        border-radius: 50% 50% 0 0;
    }
    .snsTitle{
        display: flex;
        padding-top: 180px;
    }

    .snsTitle>h2{
        color:#fff;
        font-size: 4rem;
        font-weight: bold;
    }
    .snsTitle>p{
        padding-left: 19px;
        color: #fff;
        font-size: 1.5rem;
        display: flex;
        align-items: flex-end;
        padding-bottom: 10px;
    }
    .snsList{
        width: 1440px;
        height: 874px;
        margin:0 auto;
    }
    .station4{
        width: 100%;
        height: 100%;
        margin-top: 50px;
    }
    .snsList .snsSlide{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .snsList .snsSlide img{
        display: block;
        width: 100%;
        object-fit:contain;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev{
        color:#fff;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
        color:#000;
    }
    .swiper-pagination-progressbar-fill{
        background: #fff;
    }

    /* subpage1 */
    .sub1{
        width: 1440px;
        margin: 0 auto;
        position: relative;
        margin-top: 95px;
    }
    .subtab>h1{
        margin-top: 150px;
        font-size: 5rem;
        font-weight: bold;
        color: #005841;
    }
    .subtaplist{
        margin-top: 105px;
        display: flex;
        justify-content: center;
        color: #005841;
    }
    .subtaplist>li{
        margin-right: 80px;
        font-size: 1.3rem;
        font-weight: bold;
        color: #889081;
        cursor: pointer;
        font-family: 'NanumSquareNeo-Variable';
    }
    .subtaplist>li.on{
        color: #005841;
    }
    .subcon{
        width: 1440px;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
    }
    .subcon ul{
        display: flex;
        /* flex-wrap: wrap; */

    }
    .subcontent .items>h2{
        color: #005841;
        font-size: 3.5rem;
        font-weight: bold;
        text-align: center;
    }
    .subcontent .items {
        display: none;
        position: absolute;
        left: 0;
        top: 400px;
    }
    .subcontent .items.complec {
        display: none;
        position: absolute;
        left: 0;
        top: 400px;
        width: 100%;
    }
    .subcontent .items.on{
        display:inline-block;
    }
    .subcontent .items>ul {
        display: flex;
        justify-content: flex-start;
        margin: 70px 0;
        flex-wrap: wrap;
    }
    .subcontent .complec>ul {

        flex-direction: column;
    }
    .subcontent .complec>ul>li h2{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        width: 1440px;
        color: #005841;
    }
    .subcontent .complec>ul>li h3{
        margin-top:20px;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        width: 1440px;
        color: #005841;
    }
    .subcontent .items>ul>li {
        padding-bottom: 150px;
        flex: 25%;
    }
    .subcontent .items>ul>li p {
        text-align: center;
        color: #fff;
        background: #005841;
        border-radius: 15px 15px 15px 15px;
        width: 248px;
        height: 38px;
        line-height: 40px;
        margin: 0 auto;
    }
    .sub1 img{transition: all 0.1s ease 0s;}
    .sub1 img:hover{
        border-radius: 50%;
         transform: scale(1.1);
    }
    .item3dep {
        display: flex;
        flex-wrap: wrap;
        /* flex: 25%; */
    }
    .item3dep>li {
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        flex: 25%;
    }
    .item4dep{
        display:flex;
        flex-wrap: wrap;
    }
    .item4dep>li{
        flex: 25%;
    }
    .sub1 .pageNation{
        display: flex;
        justify-content: center;
    }
    .sub1 .pageNation>li{
        text-align: center;
        border-radius: 15px 15px 14px 15px;
        padding: 5px 18px;
        border: 1px solid #005841;
        font-size: 1.2rem;
        font-weight: bold;
        color: #005841;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* subpage1-1 */
    .sub1_1{
        width: 1440px;
        margin: 0 auto;
        margin-top: 95px;
    }
    .sub1_1tab>h1{
        margin-top: 150px;
        font-size: 5rem;
        font-weight: bold;
        color: #005841;
    }
    .sub11tab{
        margin-bottom: 125px;
        margin-top: 70px;
        display: flex;
        color: #005841;
    }
    .sub11tab>li{
        margin-right: 80px;
        font-size: 1.3rem;
        font-weight: bold;
        color: #889081;
        cursor: pointer;
        font-family: 'NanumSquareNeo-Variable';
    }
    .sub11tab>li.on{
        color: #005841;
    }
    .station5{
        width: 1440px;
        height: 500px;
        background:rgb(246, 228, 214,0.5);
    }
    .station5>ul{
        width: 100%;
        height: 100%;
    }
    .station5>ul>li{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .station5>ul>li img{
        width: 350px;
        height: 350px;
        background: #fff;
        border-radius: 50%;

    }
    .station5>ul>li div{
        margin-left:40px;
        text-align: center;
        color: #005841;

    }
    .station5>ul>li div>h2{
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 20px;;
    }
    .station5>ul>li div>p{
        line-height: 25px;
        font-size: 1.1rem;
    }
    .content2_bottom{
        width: 1440px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .content2_items{
        margin-top:100px;
        display: flex;
        width: 100%;
        height: 100%;
    }
    .content2_items>li>h2{
        font-size:2.5rem;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .content2_items>li>p{
        text-align: center;
    }
    .content2_items>li>ul{
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 100px;
    }
    .content2_items>li{
        width: 100%;
        height: 100%;
        text-align: center;
        display: none;
    }
    .content2_items>li.on{
        display: block;
    }
    .content2_items>li>ul>li img{
        width: 250px;
        height: 250px;
    }
    .bot_items>h2{
        font-weight: bold;
        margin-bottom: 5px;
        color: #005841;
    }
    .bot_items> p{
        line-height: 20px;
    }

    /* subpage2 */

    .sub2{ 
        width: 100%;
        margin:0 auto;
        height: 100%;
    }
    .sub2_top{
        width:1440px;
        margin:0 auto;
    }
    .store_info{ 
        margin-top: 120px;
        display: flex;
        align-items: flex-end;
        padding:30px 5px;
        color: #005841;
    }
    .store_info>h1{
        font-size: 5rem;
        padding-right: 10px;
        font-weight: bold;
    }
    .store_info>p{
        font-size: 0.9rem;
        padding: 11px 0;
    }
    .map{
        display: flex;
        justify-content: space-between;
        border: 1px solid #005841;
        padding: 50px 70px;
        margin-top: 20px;
    }
    .service_search>h3{
        font-size: 1.7rem;
        padding-bottom: 20px;
    }
    .service_search>li{
        padding-bottom: 15px;
        font-size: 1.2rem;
    }
    .area_search h3{
        font-size: 1.7rem;
        padding-bottom: 20px;
    }
    .area_search p>label{
        font-size:0;
        padding-bottom: 20px;
    }
    .area_search p>input{
        padding: 5px 40px;
        font-size: 1.1rem;
        margin-bottom: 125px;
    }
    .result>ul>li{
        font-size: 1.1em;
        margin-right: 50px;
        padding-bottom: 10px;
    }
    .search_bg{
        font-size: 0.9rem;
        background: #005841;
        color: #fff;;
        padding: 10px 43px;
        margin-bottom: 100px;
    }
    .sub2_bottom{
        border-top: 1px solid #005841;
        margin-top: 53px;
    }
    .store_button{
        margin: 100px 0;
        display: flex;
        justify-content: center;
    }
    .store_button>li{
        margin: 0px 8px;
        background: #e7e2e2;
        padding: 10px 12px;
        font-weight: bold;
        border-radius: 11px;
        transition: all 0.1s ease 0s;
    }
    .store_button>li:hover{
        transform: scale(1.2);

    }
    .store_list{
        width: 1440px;
        margin: 0 auto;
        font-weight: bold;
    }
    .store_list>li{
        margin:20px 0;
    }
    .store_list>li>h3{
        font-size: 1.2rem;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .store_list>li:first-of-type{
        margin-top:150px;
    }
    .store_list>li:last-of-type{
        margin-bottom: 200px;
    }
    .store_list>li>ul{
        display: flex;
        align-items: center;
    }
    .store_list>li>ul>li{
        margin-right: 30px;
        background: #f9f6f4;
        text-align: center;
        padding: 10px 0;
        width: 250px;
    }
    .store_list>li>ul>li:hover{
        background: #005841;
        color: #fff;
    }

    /* subpage3 */

    .sub3{
        width: 100%;
        margin: 0 auto;
        height: 100%;
        margin-top: 160px;
        text-align: center;
        color: #005841;
    }
    .sub3tabmenu h1{
        font-size: 5rem;
        font-weight: bold;
        margin-bottom: 60px;
    }
    .sub3tabmenu ul>li{
        margin-right:20px;
    }
    .tab3{
        display: flex;
        justify-content: center;
        padding-bottom: 160px;
        color: #889081;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .tab3>li.on{
        color:#005841;
        border-top:1.5px solid #005841; 
        font-weight: bold;
    }
    .items{
        display:none;
    }
    .items.on{
        display: block;
    }
    .sub3content_list>p{
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 100px;
        line-height: 31px;
    }
    .sub3content_list ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 1440px;
        margin:0 auto;
    }
    .sub3content_list ul>li{
        font-size: 0.9rem;
        padding-right:10px;
    }
    .sub3content_list ul>li img{
        width: 400px;
        height: 400px;
    }
    .c_lsub3content_listist ul>li p{
        padding: 45px 0;
    }
    .item_Info{
        margin-top: 229px;
    }
    .item_Info h2{
        font-size: 1.6rem;
        font-weight: bold; 
    }
    .item_Info ul>.bg_top{
        background: #fff;
        height: 180px;
    }
    .bg_top>ul{
        display: flex;
        justify-content: space-between;
    }
    .bg_top>ul>li{
        margin: 0 40px;
    }
    .bg_top>ul>li img{
        width: 250px;
        height: 250px;
        object-fit: contain;
        border-radius: 50%;
    }
    .bg_bottom{
        background: #e5d08f;
        height: 425px;
    }
    .bg_bottom>ul{
        display: flex;
        justify-content: space-between;
    }
    .bg_bottom>ul>li{
        margin: 0 10px;
        margin-top: 110px;

    }
    .bg_bottom>ul>li:last-of-type{
        margin-right: 10px;
    }
    .bg_bottom>ul>li>h3{
        color:#005841;
        font-weight: bold;
        font-family: 'NanumSquareNeo-Variable';
    }
    .bg_bottom>ul>li>p{
        font-size: 0.9rem;
        padding-top:20px;
        color: black;
        line-height: 1.6;
    }
    .c_List{
        height: 590px;
        margin: 0 auto;
        width: 1440px;
    }
    .c_List h2{
        margin: 300px 0 90px 0;
        font-size: 2rem;
        font-weight: bold;
    }
    .c_List ul{
        display: flex;
        justify-content:space-between;
    }
    .c_List ul>li img{
        width: 110px;
        height: 100px;
        object-fit: contain;
    }
    .c_List ul>li P{
        padding: 20px 0;
        font-size: 1.3rem;
        font-weight: bold;
        font-family: 'NanumSquareNeo-Variable';
    }
    .cost{
        color:#fff;
        background: #005841;
        height: 900px;
        font-family: 'NanumSquareNeo-Variable';
    }
    .cost h2{
        padding: 80px 0 30px 0;
        font-weight: bold;
        font-size: 5rem;
        font-weight: bold;
        font-size: 5rem;
        font-family: 'vitro';
    }
    .cost .list{
        display: flex;
        justify-content: center;
        padding-bottom:80px;
    }
    .cost .list>li{
        background: #fff;
        margin-right: 10px;
        padding:10px;
        color: #005841;
    }
    .list>li.on{
        background: #fecc16;
        margin-right: 10px;
        padding:10px;
        font-weight: bold;
    }
    .cost_text{
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        position: relative;
    }
    .cost_text>li{
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .cost_text>li.on{
        display: block;
    }
    .cost_text>li>ul>li{
        padding:0 60px;
    }
    .cost_text>li>ul{
        display: flex;
        justify-content: center;
    }
    .cc{
        margin-top:10px;
        font-size: 1.2rem;
        font-weight: bold;}
    .cost_text>li>ul h3{
        font-size: 1.2rem;
        padding-bottom: 15px;
    }
    .cost_text h3>span{
        color: #fecc16;
        font-weight: bold;
    }
    .pp{
        margin-top: 230px;
        margin-bottom: 55px;
    }
    .push{
        background: #fecc16;
        padding: 10px 50px;
        display: inline-block;
        color: #005841;
        margin-bottom: 82px;
        font-weight: bold;
    }
    .number{
        background: #fff;
        color:black;
        width: 100%;
        height: 98px;
        display: flex;
        align-items: center;
        padding-left:230px;
    }
    .number>li img{
        width: 65px;
        height: 65px;
    }
    .number>li p{
        font-size: 2rem;
        line-height: 1.9;
        margin-left: 15px;
    }

    /* footer */

    footer{
        width: 100%;
        height: 600px;
        background: #005841;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footerLogo h1{
        width: 200px;
        padding-bottom:100px;
        padding-right: 46px;
    }
    .footerLogo a img{
        width: 100%;
        height: 100%;
    }
    .footerInfo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footerInfo p {
        padding-bottom:10px;
    }
    .footerInfo p:last-of-type {
        padding-bottom:100px;
    }
    .footerSns ul{
        display: flex;
        justify-content: center;
    }
    .footerSns ul>li{
        width: 30px;
        height: 30px;
        padding-right:20px;
    }
    .footerTop{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-top: 50px;
        background: #889081;
        color: #005841;
        text-align: center;
        position: fixed;
        bottom: 50px;
        right: 50px;
        z-index: 10;
    }

}